@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #725ac1;
  --secondary-color: #717cf0;
  --tertiary-color: #b871f0;
  --error-color: #f87171;
}

@layer components {
  .project-wrapper {
    @apply flex list-none h-[350px] overflow-x-scroll py-5;
    flex: 0 0 600px;
  }
  .project-wrapper li {
    @apply mr-5;
    flex: 0 0 300px;
  }
  .project-wrapper li:last-of-type {
    @apply m-0;
  }
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-[var(--primary-color)] left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin: 10px 0;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
