@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #725ac1;
  --secondary-color: #717cf0;
  --tertiary-color: #b871f0;
  --error-color: #f87171;
}

@layer base {
  /* button {
    @apply shadow-[inset_0_0_0_0_var(--primary-color)] no-underline hover:shadow-[inset_0_-100px_0_0_var(--primary-color)];
    @apply relative inline-block py-2 px-4 text-center text-base font-semibold tracking-wider text-[var(--primary-color)] bg-transparent cursor-pointer transition-all ease-out duration-500 border-2 border-[var(--primary-color)] rounded-lg select-none;
    @apply hover:text-white;
    @apply active:scale-90;
    @apply disabled:opacity-50;
    @apply disabled:hover:text-[var(--primary-color)] disabled:hover:shadow-none;
    @apply disabled:active:transform-none;
  } */
  /* button:hover {
    @apply text-white;
  }
  button:active {
    @apply scale-90;
  }
  button:disabled {
    @apply opacity-50;
  }
  button:disabled:hover {
    @apply text-[var(--primary-color)] shadow-none;
  }
  button:disabled:active {
    @apply transform-none;
  } */
}

@layer components {
  .project-wrapper {
    @apply flex list-none h-[350px] overflow-x-scroll py-5;
    flex: 0 0 600px;
  }
  .project-wrapper li {
    @apply mr-5;
    flex: 0 0 300px;
  }
  .project-wrapper li:last-of-type {
    @apply m-0;
  }
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-[var(--primary-color)] left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

/* body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  margin: 10px 0;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
